*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%
}
a{
    text-decoration: none;
}
.container{
    max-width: 1250px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
/* Hero Style */

.hero{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    padding: 50px 0;
}
.content-width{
    width: 40%;
    margin: 0 5%;
}
.hero-data-content h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.hero-data-content .unique-color{
    color: orange;
}
.hero-data-content h2{
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}
.hero-data-content h3{
    margin-bottom: .5rem;
}
.hero-data-content p{
    color: rgb(122, 122, 122);
}
.link-button{
    width: 20%;
    text-align: center;
    display: inline-block;
    margin-top: 1.5rem;
    padding: .7rem 1rem;
    background-image: linear-gradient(90deg, orange, tomato);
    font-weight: 700;
    color: #fff;
    border-radius: 3rem;
}

/* About Style */

.about{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 7rem 0;
}
.about-data-content h2{
    margin-bottom: 2rem;
}
.about-data-content h3{
    margin-bottom: .7rem;
}
.about-data-content p{}
.about #button-width{
    width: 50%;
}

/* Experinece style */

.experience{
    background-image: url(img/exp-bg.png);
    background-repeat:  no-repeat;
    background-position-y: 50%;
    padding: 6rem 0;
}
.section-title{
    margin-left: 5%;
    font-size: 2.5rem;
    margin-bottom: 3rem;
} 
.experience-data-content{
    box-shadow: 5px 5px 50px rgb(214, 214, 214);
    padding: 50px 40px;
    border-radius: .8rem;
}
#border-color-tomato{
    border-left: 7px solid tomato;
}
#border-color-blue{
    border-left: 7px solid blue;
}
.experience-data-content h3{
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.experience-data-content h4{
    margin-bottom: 1rem;
    font-size: 1.3;
    color: tomato;
}


footer p span{
    color: tomato;
}